<div class="sidenav">

        <p class="Navig">Navigation</p>

        <button class="aList" [class.active]= "this.showHome" (click)="toggleHome()">Home</button>
        <button class="aList" [class.active]= "this.showBooks" (click)="toggleBooks()">Books</button>
        <button type="button" class="btn btn-danger"
        (click)="logoutUser()">Logout</button>
        <!-- <a value="call Function" (click)="toggleAbout()">About</a>
        <a value="call Function2" (click)="toggleServices()">Services</a>
        <a value="call Function3" (click)="toggleClients()">Clients</a>
        <a value="call Function4" (click)="toggleContact()">Contact</a> -->


</div>

<div class="main">

    <div class="bookHome" *ngIf="showHome" id="showDiv">

        <div class="row" style="margin-top: 20px;">

            <div class="col-12">
                <div class="row">

                 <div class="col-lg-3 col-sm-6">
                    <img src="../../assets/logo/cpe.png" class="homeLogo" alt="Fox">
                 </div>

                 <div class="col-lg-9 col-sm-6" style="padding: 0;">

                  <div class= "row" style="padding: 0px;">
                    <div class="col-12 firstTitle">
                     <p>PUP-BSCPE</p>
                    </div>



                    <div class="col-lg-12 col-md-12 col-sm-12 secondTitle">
                        <p>ONLINE WEB-BASED COMPENDIUM</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="divider">

          </div>

          <table class="tableHome">
                <tr>
                  <td>Total Dissertions: </td>
                  <td style="text-align: right;">400</td>
                </tr>

                <tr>
                    <td>Total Authors: </td>
                    <td style="text-align: right;">100</td>
                </tr>

                <tr>
                    <td>Total Books Borrowed: </td>
                    <td style="text-align: right;">169</td>

                </tr>

                <tr>
                    <td>Total Books Lost: </td>
                    <td style="text-align: right;">5</td>
                </tr>
          </table>

    </div>

    <div class="bookContent" *ngIf="showBooks" id="showDiv">

      <div class="row">
        <div class="col-lg-12" class="titleBook">
          BOOKS
        </div>
      </div>

      <div class="row justify-content-start">
        <div class="col-lg-3" >
          <button (click)="toggleBookList()" [class.bookActive] ="showBookList" class="viewList">BOOK LISTING</button>
        </div>

        <div class="col-lg-3">
          <button (click)="toggleAddBook()" class="addToList">Add a Book</button>
        </div>

      <div *ngIf="showBookList" class="bookList">
        <app-book-list></app-book-list>

      </div>

      <div *ngIf="showAddBook" class="addBook">
         <app-edit-form></app-edit-form>
        </div>

    </div>




</div>
<div class="bookAdminSettings" *ngIf="showAdminSettings" id="showDiv">

</div>

<div class="bookContact" *ngIf="showContact" id="showDiv">

  </div>
</div>
