  <div  id="myModal" class="modal" *ngIf="this.click" data-keyboard="false" data-backdrop="static">
  <!--Form Modal Starts Here-->
  <button class="btn-select" (click)="exitForm()">
      exit
  </button>
  
    <div class="modal-content" >
        <div class="addBook">

          <form (ngSubmit)="onSubmit()" [hidden]="submitted">
              <div class="row">
                  <div class="col-lg-12 Authors" style="margin-top: 50px;">
                    Authors
                  </div>

                  <div class="col-lg-12">
                    <label>Type Author's Name</label>
                  </div>
              </div>

            <!-- add button-->
              <div class="row justify-content-start">
                <div class ="form-group col-lg-4">
                  <button class="buttonAdd" >Add Author's Name</button>
                </div>
              </div>

              <div class="form-row" class="form-group" styles="margin-right: auto: margin-left: auto;">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control"  placeholder="First Name .." id="fname" required [(ngModel)]="thesis.fname" name="fname">
                    </div>

                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" placeholder="Middle Name .." id="mname" required [(ngModel)]="thesis.mname" name="mname">
                    </div>

                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" placeholder="Last Name .." id="lname" required [(ngModel)]="thesis.lname" name="lname">
                    </div>
                         <div class="row">
                      <div class ="form-group col-lg-12">
                             <button class="deleteButton">Remove Field</button>
                      </div>
                    </div>
                </div>
              </div>
             
              <div class="divider"></div>


              <div class="row">
                  <div class="col-lg-12 Co-Authors">
                    Co-Authors
                  </div>
              </div>

              <div class="form-group col-lg-8">
                <label >Type Co-Author's Name</label>
              </div>

              <div class="row justify-content-start">
                <div class ="form-group col-lg-4">
                    <button class="buttonAdd">Add Co-Author's Name</button>
                </div>
              </div>

                <div class="form-row" class="form-group" styles="margin-right: auto: margin-left: auto;">
                    <div class="row">
                      <div class="form-group col-lg-4">
                        <input type="text"  class="form-control" placeholder="First Name.." id="cofname" required [(ngModel)]="thesis.cofname" name="cofname">
                      </div>

                      <div class="form-group col-lg-4">
                          <input type="text" class="form-control" placeholder="Middle Name.." id="comname" required [(ngModel)]="thesis.comname" name="comname">
                      </div>

                      <div class="form-group col-lg-4">
                          <input type="text" class="form-control" placeholder="Last Name.."  id="colname" required [(ngModel)]="thesis.colname" name="colname">
                      </div>
                    </div>

                    <div class="row justify-content-end">
                      <div class ="form-group col-lg-8">
                          <button class="deleteButton" >Remove Fields</button>
                      </div>
                    </div>

                </div>

                <div class="divider"></div>


            <div class="form-row" styles="margin-right: auto: margin-left: auto;">
                <div class="form-group col-lg-6">
                    <label >Thesis Title</label>
                    <input type="text" class="form-control" placeholder="TITLE"  id="title" required [(ngModel)]="thesis.title" name="title">
                  </div>
                  <div class="form-group col-lg-6">
                    <label >ISBN</label>
                    <input type="text"  class="form-control" placeholder="ISBN"  id="bookNum" required [(ngModel)]="thesis.bookNum" name="bookNum">
                  </div>

                  <div class="form-group col-lg-6">
                      <label >Date Published</label>
                      <input type="date" class="form-control" placeholder="Date Published"  id="datePub" required [(ngModel)]="thesis.datePub" name="datePub">
                  </div>
                  <div class="form-group col-lg-6">
                      <label >Date Received</label>
                      <input type="date" class="form-control" placeholder="Date Received"  id="dateRec" required [(ngModel)]="thesis.dateRec" name="dateRec">

                  </div>

                  <div class="form-group col-lg-12">
                      <label>Abstract</label>
                      <textarea class="form-control" rows="6"  id="abstract" required [(ngModel)]="thesis.abstract" name="abstract"></textarea>
                  </div>


              </div>
              <input class="submitForm" type="submit" value="Submit">
            </form>
            <div [hidden]="!submitted">
              <h4>You submitted successfully!</h4>
              <button class="btn btn-success" (click)="newBook()">Add</button>
            </div>
            </div>
     

        </div>



  </div>
