<div class="container-fluid">
  <div class="upper">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 puplogo">
        <div class="pup">
          <img src="../../../assets/logo/pup.png" alt="pup logo">
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 heading">
        <div class="header">
          <b>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES <br>
          COLLEGE OF ENGINEERING<br>
          COMPUTER ENGINEERING DEPARTMENT</b>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 cpelogo">
        <div class="cpe">
          <img src="../../../assets/logo/cpe.png" alt="cpe logo">
        </div>
      </div>
    </div>
  </div>

  <div class="line"></div>
  <div class="search">
    <div class="inputbox">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <input type="text" [value]="message" [disabled]="KeywordIsDisabled" (click)="KeywordClick()" placeholder="&#xf031; &nbsp; Keyword"  #box (keyup)="onEnter(box.value)" (keyup.enter)="clicked" >
          
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          <input type="text" [value]="message1" placeholder="&#xf02d; &nbsp; Title" (click)="TitleClick()" [disabled]="TitleIsDisabled"  #box1 (keyup)="onEnter1(box1.value)" (keyup.enter)="clicked" >
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3">
          <input type="text"[value]="message2"  placeholder="&#xf406; &nbsp; Author" (click)="AuthorClick()" [disabled]="AuthorIsDisabled"  #box2 (keyup)="onEnter2(box2.value)" (keyup.enter)="clicked" >
        </div>
        <div class="col-sm-12 col-md-2 col-lg-1">
          <button class="button2" (click)="newClick()">
            <i class="fas fa-search"></i> Reset
          </button>
      </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <button class="button2" a routerLink="/result" (click)="newMessage()">
              <i class="fas fa-search"></i> Search
            </button>
        </div>
      </div>
    </div>
      <br>
  </div>
<!--  <div class="lower">
    <div class="row">
      <div class="col-lg-12">
        <b> UNDERGRAD/MASTERS</b> <br> <br>
        <input type="text"  #input [value]="message" id = "input" (keyup)="onEnter(input.value)" (keyup.enter)="clicked()"  placeholder= "&#xf002; Search keyword, title or the author of the book ...">
      </div>
    </div>
  </div> -->
  <table class="tab" id="myTable" *ngIf="myKeyword">
    <tr *ngFor="let res of filterResult">
      <td >{{res.Abstract}}</td>
      <td >{{res.Title}}</td>
      <td >{{res.Author}}</td>

    </tr>
</table>
<table class="tab" id="myTable1" *ngIf="myTitle">
  <tr *ngFor="let res1 of filterResult">
    <td >{{res1.Abstract}}</td>
    <td >{{res1.Title}}</td>
    <td >{{res1.Author}}</td>

  </tr>
</table>
<table class="tab" id="myTable2" *ngIf="myAuthor">
  <tr *ngFor="let res2 of filterResult">
    <td >{{res2.Abstract}}</td>
    <td >{{res2.Title}}</td>
    <td >{{res2.Author}}</td>
  </tr>
</table>
<pre>







</pre>

  <div class="back">
    <div class="row">
      <div class="col-lg-6">
        <button class="button" a routerLink="/">
          <i class="fas fa-chevron-left"></i> &nbsp; Back
        </button>
      </div>
    </div>
  </div>

  <footer>
    <hr>
    © 2019 Arctic Fox | All Rights Reserved
  </footer>


</div>  

<!--
<button a routerLink="/">
  <i class="fas fa-chevron-left"></i>Back
</button>
-->