<div class="cointaner">
  <div class="upper">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="pup">
          <img src="../../../assets/logo/pup.png" alt="pup logo">
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="header">
          <b>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES <br>
          COLLEGE OF ENGINEERING<br>
          COMPUTER ENGINEERING DEPARTMENT</b>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="cpe">
          <img src="../../../assets/logo/cpe.png" alt="cpe logo">
        </div>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="lower">
    <div class="row">
      <div class="col-lg-12">
        <b> UNDERGRAD/MASTERS</b> <br> <br>
        <input type="text" placeholder= "&#xf002; Search keyword, title or the author of the book ...">
      </div>
    </div>
  </div>
  
<pre>







</pre>

  <div class="back">
    <div class="row">
      <div class="col-lg-6">
        <button class="button" a routerLink="/">
          <i class="fas fa-chevron-left"></i> &nbsp; Back
        </button>
      </div>
    </div>
  </div>

  <footer>
    <hr>
    © 2019 Arctic Fox | All Rights Reserved
  </footer>


</div>  

<!--
<button a routerLink="/">
  <i class="fas fa-chevron-left"></i>Back
</button>
-->