/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 15%;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: rgb(39, 38, 38);
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 60px;
  
      /* The navigation menu links */
      a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
      }
  
      /*hover effect */
      a{
        color: #f1f1f1;
      }
    }
  
  .aList{
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    background-color:  #272626;
    display: block;
    color: white;
    width: 100%;
    border: none;
    text-align: left;
  }
  
  /*hover effect */
  .aList:hover {
    background-color: white;
    color: black
  }
  
  .active{
    padding: 10px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
      background-color: #FD991C;
      width: 100%;
      border: none;
      text-align:left;
  }
  .active:hover{
    background-color:#FD991C;
    color: white;
  }
    /* Style page content */
  .main {
    margin-left: 190px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    color: black;
    background: linear-gradient(135deg, #FD991C 10%, #FCCF31 100%);
    width: 85%;
    height: 650px;
    position: relative;
  }
  
  .Navig{
    font-size: 25px;
    color: white;
    background-color: #3f3c3c;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 10px;
    text-align: left;
  }
  
  .bookHome{
    position: absolute;
    top: 5%;
    left: 65px;
    right: auto;
    width: 90%;
    height: 550px;
    background-color: white;
    border-top: 3px solid #FD991C;
  }
  
  .bookAdminSettings{
    position: absolute;
    top: 5%;
    left: 65px;
    right: auto;
    width: 90%;
    height: 600px;
    background-color: white;
    border-top: 3px solid #FD991C;
  }
  .buttonAdd{
    width:100%;
    height:30px;
    background-color: black;
    border:1px solid white;
    border: none;
    color: white;
  }
  
  .deleteButton{
    width:100%;
    height:30px;
    background-color: transparent;
    color: black;
    border: none;
    text-align: right;
  }
  
  .col-lg-12.firstTitle{
    margin-top: 20px;
  }
  
  .firstTitle{
    font-size: 30px;
    color: black;
    font-weight: bold;
  }
  .secondTitle{
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
  
  .submitForm{
    float: right;
      margin-right: 48px;
      width: 100px;
      height: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #FD991C;
      border: 1px solid black;
      color: black;
      text-align: center;
  
  }
  
  .divider{
    width: 90%;
    height: 2px;
    background-color: #DCDCDC	;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .tableHome {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  
  tr:nth-child(odd) {
    background-color:  rgb(248, 247, 247);
  }
  
  .homeLogo{
    width: 190px;
    height: 190px;
    margin-left: 20px;
  }
  
  // .row div{
  //   border: 1px solid black;
  // }
  // .row {
  //   padding: none;
  // }
  
  // :active{
  //   color: white;
  // }
  
  .bookContact{
    position: absolute;
    top: 5%;
    left: 65px;
    right: auto;
    width: 90%;
    height: 600px;
    background-color: white;
    border-top: 3px solid #FD991C;
  }
  
  .bookContent{
    position: absolute;
    top: 5%;
    left: 65px;
    right: auto;
    width: 90%;
    height: 600px;
    background-color: white;
    border-top: 3px solid #FD991C;
  }
  
  
  .viewList{
    background-color: white;
      color: black;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 18px;
      border: 4px solid #FD991C;
      padding: 10px;
  }
  
  .addBook{
    width: 95%;
    height: 450px;
    background-color: white;
    border-top: 4px solid #FD991C;
    border-left: 2px solid #FD991C;
    margin-top: -4px;
    overflow: scroll;
  }
  
  .bookList{
    width: 95%;
    height: 450px;
    background-color: white;
    border-top: 4px solid #FD991C;
    border-left: 2px solid #FD991C;
    margin-top: -4px;
    margin-left: 5px;
    overflow: scroll;
  }
  
  .titleBook{
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
  
  }
  
  // form div{
  //   border: 1px solid black;
  // }
  .form-row{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
  
  }
  
  .addToList{
    background-color: white;
      color: black;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 18px;
      border: 4px solid #FD991C;
      padding: 10px;
  }
  
  .bookActive{
    background-color: #FD991C;
      color: black;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 18px;
      border-bottom: none;
      padding: 10px;
      border-radius: 10px 10px 0px 0px;
  }
  
  .buttonsRow{
    width: 200px;
    height: 100px;
  
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  