<div class="container-fluid">
    <div class="login">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="left">
                    <img src="../../assets/logo/cpe.png" alt="">
                    <br>
                    <h6> 
                        <b>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES <br>
                        COLLEGE OF ENGINEERING<br>
                        COMPUTER ENGINEERING DEPARTMENT</b>
                        <div class="label-sm">small</div>
                        <div class="label-md">medium</div>
                        <div class="label-lg">large</div>
                    </h6>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="right">
                <b>ONLINE WEB-BASED COMPENDIUM</b><br>
                <hr>
                    <form action="">
                        <input type="text" placeholder="Username"> <br>
                        <input type="password" placeholder="Password">
                        <hr>
                        <!--
                        <div class="col-sm-6 col-md-6 col-lg-6">Remember me</div>
                        <div class="col-sm-6 col-md-6 col-lg-6">Forgot Password?</div>-->
                        <button class="button">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>